.headerText {
    font-size: 3.5rem;
}


@media screen and (max-width: 575px) {
    .headerText {
        font-size: 2.5rem;
    }
    .searchImage {
        display: none;
    }
    .searchInput {
        width: 100%;
    }
    .btn-search {
        width: 100%;
    }
  }